* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-size: 14px;
    line-height: 18px;
    font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
    background-color: #a3ccd4;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
}

#container {
    margin: 0 auto;
    height: 100%;
    width: 960px;
    min-height: 100%;
    padding: 20px 20px 0 20px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    color: #2e2e2e;
    font-size: 28px;
    margin-left: 80px;
}

h2 {
    font-family: Impact, Charcoal, sans-serif;
    color: #2e2e2e;
    font-size: 16px;
}

p {
    font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
    color: #2e2e2e;
    font-size: 12px;
}

/**************** HOMEPAGE **************/

#header {
    height: 115px;
    width: 903px;
}

#logo {
    position: absolute;
    float: left;
    margin-top: 30px;
}

/* LOGIN SECTION */

#logout_section {
    position: relative;
    float: right;
    font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4d4d4d;
    margin-top: 74px;
}

/* Navigation Bar */

#nav {
    margin: 0;
    padding: 0;
    background-image: url(../images/navigation_bar.png);
    width: 903px;
    height: 48px;
    float: left;
    border: none;
    list-style: none;
    font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

#nav li {
    display: inline;
    float: left;
    text-align: center
}

#nav li a {
    display: block;
    padding: 17px 25px;
    text-decoration: none;
    color: #fff;
}

#nav li a:hover {
    color: #fff;

}

#nav li.active {
    background: url(../images/navigation_selected.png) repeat-x;
    width: 128px;
    height: 57px;
    color: #fff;
    pointer-events: none;
    cursor: default;
    margin-top: -5px;

}

/* Dashboard */

#dashboard {
    position: relative;
    margin-top: 90px;
    height: 947px;
    width: 903px;
    background-color: #FFF;
}

#services_container {
    display: inline;
    float: left;
    height: 636px;
    width: 374px;
    background-color: #CCC;

}

#display_view {
    display: inline;
    float: right;
    height: 925px;
    width: 494px;
    background-color: #ebe8de;

}

/* Discover */
#discover_container {
    position: relative;
    margin-top: 90px;
    height: 947px;
    width: 903px;
    background-image: url(../images/discover/bg2.png);
}

#information_bar {
    position: absolute;
    margin-top: 70px;
    margin-left: 31px;
    width: 840px;
    height: 35px;
    background-image: url(../images/discover/information_bar.png);

}

#information_bar p {

    width: 903px;
    padding: 10px 0 0 0;
    font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;

}

#footer {
    position: absolute;
    background: #778695;
    bottom: 0;
    width: 960px;
    height: 30px;
}

#footer p {
    color: #445b72;
    font-size: 9px;;

}

#clear {
    clear: both;
}