body {
	font-size: 14px;
	font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif, Verdana, Arial, Helvetica, sans-serif;
	background-color: #333;
	margin: 0 auto;
	height: 100%;
	max-width: 960px;
	padding: 20px;
}

p {
	color: #222;
	font-size: 12px;
}

#header {
	background: #48a;
	padding: 30px 25px;
}

#site_title {
	margin-top: 20px;
	color: #eee;
	font-size: 30px; font-family: Arial;
	text-shadow: 0 1px 1px #000;
}

#site_subtitle {

}

#login_section {
	float: right;
}

.login_input {
	display: block;
	border: none;
	margin-top: 4px;
	padding: 3px;
}

.login_button {
	background: #adf;
	border: none;
	box-shadow: 0 1px 1px #123;
	display: block;
	float: right;
	padding: 3px 7px;
}

#nav {
	background: #156;
	font-size: 14px;
	display: -webkit-flex;
	display: flex;
	color: #fff;
}

#nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 15px 35px;
}

#nav .active {
	background: #48a;
}

#container {
	background-color: #eee;
	min-height: 100%;
	padding: 20px;
}


.entry-title {
	display: none;
}

#homepage_body {
	font-size: 14px;
	line-height: 18px;
	background: #48a;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	text-align: center;
}

#homepage_header {
	height: 150px;
	width: 960px;
	background: #48a;
}



/* HOME PAGE BANNER	*/
#homepage_banner {
	height: 307px;
	width: 960px;
}

.business {
	float: left;
	margin-left: 40px;
	height: 366px;
	width: 403px;
	background-image: url('images/homepage/box_business.png');
}

.business p {
	color: #444;
	margin-left: 30px;
	padding: 60px 30px 0 0;
	text-align: left;
	width: 390px;
	font-size: 12px;
}

.business form {
	margin-left: 30px;
	padding: 20px 30px 0 0;
	text-align: left;
}



#signup_text {
	text-align: center;
}

.signup_form {
	margin: 0 auto;
	width: 400px;
	padding: 14px;
}

#signup label {
	display: inline-block;
	font-weight: normal;
	color: #444;
	text-align: right;
	width: 120px;
}

#signup .small {
	color: #666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 120px;
}

#signup input {
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #ace;
	width: 200px;
	margin: 2px 0 20px 10px;
}

#signup .pass {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	padding-left: 10px;
	padding-top: 20px;
}

#signup button {
	clear: both;
	margin-left: 130px;
	width: 125px;
	height: 31px;
	background: #8de;
	text-align: center;
	cursor: pointer;
	line-height: 31px;
	color: #4d4d4d;
	font-size: 11px;
	font-weight: bold;
	border: none;
}

/* LOGIN SECTION */
#logout_section {
	font-size: 12px;
	color: #ccc;
	text-align: right;
}

#logout_section a {
	color: #fff;
}


#turn_inside_out {
	width: 374px;
	height: 40px;
	padding: 0;
}

#turn_inside_out img {
	width: 221px;
	height: 35px;
	text-align: right;
	float: left;
}

/* Dashboard */
#dashboard {
	padding: 20px;
	background: #eee;
}

.action {
	display: flex;
	padding: 10px;
	background: white;
	border-radius: 2px;
	box-shadow: 0 2px 1px #888;
	margin-bottom: 20px;
	align-items: flex-start;
}

.action_icon {
	margin-right: 10px;
	min-width: 45px;
}

.action_title {

}

.action_desc {
	color: #888;
}

.dashboard_icon {
	display: inline-block;
}

.dashboard_icon_a:HOVER {
	opacity: 1.0;
}

.dashboard_icon_a {
	height: 116px;
	width: 116px;
	display: inline-block;
	opacity: 0.2;
}

#display_view {
	display: inline;
	float: right;
	height: 100%;
	width: 494px;
	background-color: #eaeaea;
}

#information_bar {
	position: absolute;
	margin-top: 70px;
	margin-left: 31px;
	width: 840px;
	height: 35px;
	background-image: url('images/services/information_bar.png');
}

#information_bar p {
	width: 840px;
	padding: 10px 0 0 0;
	margin-left: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
}

#service_added_notification {
	text-align: center;
	color: #65904d;
	font-weight: bold;
}

#list_of_services {
	position: absolute;
	width: 840px;
	height: 770px;
	background: #e4e3e3;
	margin-top: 140px;
	margin-left: 32px;
}

#list_of_services ul {
	padding: 10px 0 0 0;
	margin-left: 31px;
	margin-top: 2px;
	list-style-type: disc;
	text-align: left;
	width: 840px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4d4d4d;
}

#list_of_services li {
	font-weight: normal;
	width: 770px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4d4d4d;
	border: 1px solid black;
	height: 65px;
}

#list_of_services li p {
	width: 420px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4d4d4d;
	height: 65px;
	position: absolute;
	margin-left: 180px;
	margin-top: -50px;
}

#list_of_services li img {
	width: 73px;
	height: 73px;
}

#list_of_services input {
	width: 55px;
	height: 30px;
	color: #4d4d4d;
	background-color: #ccc;
	text-align: center;
	font-size: 10px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#list_of_services a {
	width: 55px;
	height: 30px;
	color: #4d4d4d;
	background-color: #ccc;
	text-align: center;
	font-size: 10px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	text-decoration: none;
	vertical-align: middle;
	top: 50%;
}

.discover_title {
	width: 270px;
	height: 48px;
	float: left;
	margin-top: 20px;
	margin-left: -325px;
}

.steps {
	display: flex;
	flex-wrap: wrap;
}

.step {
	float: left;
	width: 400px;
	margin: 20px;
}

.step_detail {
	width: 400px;
}

.step_detail img {
	float: left;
}

.step_detail div {
	font-size: 12px;
	float: right;
	color: #505461;
	width: 280px;
	text-align: justify;
}

.findmore {
	background-color: #ddd;
	padding: 7px 20px;
	text-decoration: none;
	color: #555;
	display: inline-block;
	float: right;
	margin-top: 5px;
}

.findmore:HOVER {
	background-color: #bbb;
}

.service_title {
	margin: 20px 0 20px -20px;
	color: white;
	padding: 15px;
	width: 280px;
	font-weight: 100;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

.service_list {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.service_box {
	padding: 18px;
}

.service_box h1 {
	font-size: 12px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	width: 194px;
	color: #505461;
}

.service_box p {
	margin-top: 10px;
	color: #505461;
	text-align: justify;
	width: 194px;
	height: 80px;
}

.service_icon {
	width: 194px;
	height: 116px;
}

.service_buttons {
	display: flex;
	justify-content: space-between;
}

.service_button {
	color: #505461;
	background: #ddd;
	font-size: 11px;
	text-decoration: none;
	margin: 10px 0 0;
	border: 0;
	cursor: pointer;
	padding: 4px 10px;
	display: inline-block;
	vertical-align: middle;
}

.service_button:hover {
	background: #bbb;
}

#notification {
	text-align: center;
	color: #65904d;
	font-weight: bold;
}

#footer {
	position: absolute;
	background: #778695;
	bottom: 0;
	width: 960px;
	height: 30px;
}

#footer p {
	color: #445b72;
	font-size: 9px;;
}

#clear {
	clear: both;
}

.field {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 6px;
}

.field_name {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
	color: #444;
	width: 25%;
	text-align: right;
	padding-right: 10px;
	display: inline-block;
}

.field_input {
	font-family: Verdana, Arial, sans-serif;
	border: 1px solid #999;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	padding: 5px 10px;
	border-radius: 3px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.field_input:disabled {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	border-color: #CCC;
}

.field_input:disabled:hover {
	border-color: #CCC;
}

.field_input:hover {
	border-color: #666;
}

.field_input:focus {
	outline: medium none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
	border-color: #666;
}


.field_date {
	text-align: right;
}

.field_item {
	display: inline-block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-right: 25%;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 50%;
}

.field_info {
	font-size: smaller;
	color: #555;
	margin: 0 25%;
	padding: 0 11px;
	font-style: italic;
	text-align: justify;
}

.field_error {
	margin: 0 25%;
	text-align: center;
	padding: 5px;
	padding-left: 34px;
	background: #FFC url(../images/error.png) 10px center no-repeat;
	border-radius: 3px;
}

.field_button {
	margin-right: 25%;
}

input[type="checkbox"].field_input {
	display: none;
}

input[type="checkbox"].field_input + label {
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

input[type="checkbox"].field_input:disabled + label {
	cursor: default;
	color: #BBB;
}

input[type="checkbox"].field_input + label span {
	display:inline-block;
	width:19px;
	height:18px;
	font-family: Verdana, Arial, sans-serif;
	border: 1px solid #999;
	border-radius: 3px;
	margin: 0 8px 0 0;
	vertical-align:middle;
}

input[type="checkbox"].field_input:enabled + label:hover span {
	border-color: #666;
}

input[type="checkbox"].field_input:disabled + label span {
	background: #DDD;
	border: 1px solid #CCC;
}

input[type="checkbox"].field_input:checked + label span {
	background: #DDD url(../images/check.png) 4px 6px no-repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

input[type="file"].field_input::-webkit-file-upload-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #888;
	border-radius: 2px;
	color: #222;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background: -webkit-linear-gradient(#EEE, #BBB);
}

select.field_input:hover {
	background: url(../images/select2.png) right 8px center no-repeat;
}

select.field_input {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/select.png) right 8px center no-repeat;
}

@media all and (max-width: 600px) {
	.field_input {
		margin-right: 0;
	}

	.field_button {
		margin-right: 0;
	}

	.field_info {
		margin-right: 0;
	}

	.field_item {
		margin-right: 0;
	}

	.field_error {
		margin-right: 0;
	}

	input[type="checkbox"].field_input + label
	{
		margin-right: 0;
	}
}