* { padding: 0; margin: 0; outline: 0; }

body {
font-size: 14px;
line-height: 18px;
font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
background-color: #fff;
margin: 0 auto;
height: 100%;
width: 100%;
background-repeat:repeat-x;
text-align:center;
}

#container{
	margin: 0 auto;
	height: 925px;;
	width: 494px;
    min-height:100%;
	background-image:url(../images/concept.png);
/*	padding 20px,20px,0px,20px; */ 

}


h1{
font-family:"Times New Roman", Times, serif;
color: #2e2e2e;
font-size:28px;
margin-left:80px;
}

h2{
font-family:Impact, Charcoal, sans-serif;
color: #2e2e2e;
font-size:16px;
}

p{
font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
color: #2e2e2e;
font-size:12px;
}

/**************** HOMEPAGE **************/

#header{
	width:494px;
	height:70px;
	position:relative;

}

#heading{
	float:left;
	margin-top:10px;
	background-image:url(../images/servicetitle_tripadvisor.png);
	width:269px;
	height:48px;
	display:inline;

}

#delete{
	float:right;
	margin-top:40px;
	display:inline;	
	margin-right:150px;
	background-image:url(../images/delete.png);
	width:19px;
	height:19px;

}

#delete p{
	font-size: 12px;
	color:#e64a36;
	width:170px;
}

#delete p a{
	text-decoration:none;
	color:#e64a36;
}


/* Navigation Bar */

#nav{
	margin:0;
	padding:0;
	background-image:url(../images/navigation_bar.png);
	width: 903px;
	height: 48px;
	float:left;
	border:none;
    list-style:none;
	font-family: Lucida "Lucida Sans Unicode", "Lucida Grande", sans-serif, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}

#nav ul{
	padding:0;
	margin:0;
	list-style-type:none; 
	text-align: center; 
}

#nav li{
	display:inline;
	float:left;
	text-align: center
}

#nav li a {
	display: block;
	padding: 17px 25px;
	text-decoration: none;
	color: #fff;	
}
	
#nav li a:hover {
	color: #fff;

}

#nav li.active {
	background-image:url(../images/navigation_selected.png);
	background-repeat:repeat-x;
	width:128px;
	height:57px;
	color: #fff;
	pointer-events: none;
	cursor: default;
	margin-top:-5px;

}


#clear{
	clear:both;
}





/**************** END OF HOMEPAGE **************/
